{
  "rules": {},
  "env": {
    "es6": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "require": true,
    "describe": true,
    "it": true,
    "xdescribe": true,
    "xit": true
  }
}
